<form [formGroup]="briefingForm" (ngSubmit)="generateBriefing()">
    <div class="checkbox-row">
      <mat-checkbox formControlName="METAR" color="primary">METAR</mat-checkbox>
      <mat-checkbox formControlName="SIGMET" color="primary">SIGMET</mat-checkbox>
      <mat-checkbox formControlName="TAF" color="primary">TAF</mat-checkbox>
    </div>
  
    <!-- Options from the new airpot array -->
    <mat-form-field appearance="fill" class="new-dropdown">
      <mat-label>Select Options</mat-label>
      <mat-select formControlName="selectedOptions" multiple>
        <mat-option *ngFor="let airport of airports" [value]="airport">{{ airport }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Options from the new country array -->
    <mat-form-field appearance="fill" class="new-dropdown">
      <mat-label>Select Options</mat-label>
      <mat-select formControlName="selectedOptions" multiple>
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Generate Briefing</button>
</form>
  